html, body {
    position: relative;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
}

i {
    font-size: 1.2rem;
}

.nav{
    /* position: fixed; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 3% 2% 3% 4%;
}
form{
    display: flex;
    width: 88vw;
}
input{
    width: 90%;
}
button{
    border: none;
    background-color: white;
}

.flex{
    display: flex;
    column-gap: 5%;
}
.flex > *{
    z-index: 1;

}
input{
    border: 0px;
    outline: none;
    font-size: 1rem;
}

.item-container {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    padding: 15px 0;
    border: 2px solid #f2f2f2;
    z-index: 0;
}

.hidden-box {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: white;
    z-index: 1;
    transition: top 0.3s ease;
}
.star-rating {
    margin-left: 15px;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    z-index: 2;
}

.star-rating .fas {
    font-size: 20px;
    color: #FFC700;
    z-index: 2;
}
.place {
    font-size: 20px;
    font-weight: bold;
}

.walk {
    font-size: 15px;
    width: 95px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #FFC700;
    color: black;
    position: absolute;
    right: 15px;
}
.hidden-box {
    width: 90%;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: rgba( 255, 255, 255, 0 );    
    z-index: 1;
    transition: top 0.3s ease;
    margin-left: 24px;
}
.hidden-box > hr{
    width: 30%;
    border: 0.5px;
    color: #D8D8D8;
}
/* .place-text {
    padding: 5px 0 0 20px;
} */

.nav-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 4;
}

#menubox1 {
    width: 70%;
    background-color: white;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    transition: left 0.3s ease;
}

#menubox2 {
    width: 100%;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    right: -100%;
}

#user {
    font-size: 18px;
    margin-left: 30px;
    font-weight: bold;
}

.clear {
    height: 50px;
}

.side-menu {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-left: 55px;
    transition: font-weight 0.3s ease;
}

a {
    text-decoration: none;
    float : right;
    margin-right : 30px;
    font-weight: bold;
    color: #222222;
}